/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #555B6E;
}

body,
p,
h1 {
    margin: 0;
    padding: 0;
}

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
    display: grid;
    align-self: center;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.item {
    align-content: center;
    text-align: center;
    margin: auto;
}

h1 {
    /*code to make all paragraphs red */
    color: red;
}

h3 {
    color: blue;
}

button {
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    margin: 10px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

table {
    width: 100%;
}

#showDataButton {
    width: 100%;
}

.colcontainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
}

#additionalData {
    display: none;
}

#dataTable {
    display: none;
}

.canvasColContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 10px;
}

canvas {
    width: 100%;
    height: 50vh;
}

input {
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    margin: 10px;
}

body {
    //keep body background dark grey
    //background-color: #555B6E;
    //keep width less than 1000px
    max-width: 1000px;
    margin: auto;
}